
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Inclusive Sans;
    color: var(--p_color);
}
body{
    background-color: var(--color1);
}
/*header*/
@media screen and (min-width:1024px) {

    .header-container{
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
        /* gap: 200px; */
    }
    .header-content-resume{
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .header-content-resume ul{
        transform: translate(2rem,0);
    }
    .main-container{
        height: 100vh;
    }
    #diego-photo{
        height: 80vh;
    }
}