@import url(../general.css);

/*requiere que cualquier campo abajo tenga una distancia de --header_px*/
@media screen and (min-width: 768px) and (max-width:1200px) {
    
    .page-header{
        scroll-snap-align: start;
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;

        height: 100vh;
        box-sizing: border-box;
        position: relative;
    }
    .header-text-container{ 
        width: 500px;
        height: 300px;
    }
    .header-text-container h1{
        font-size: 110px;
        font-family: Ephesis;
    }
    .header-img-container{
        position: relative;
        height: 535px;
        width: 406px;
    }
    .header img{
        position: absolute;
        height: 535px;
        width: 406px;
        border-radius: 80% 20% 82% 18% / 83% 18% 82% 17%;
    }
    .header-img-filter{
        height: 535px;
        width: 406px;
        position: absolute;
        top: 0;
        z-index: -10;
    }
    .header-img-filter::after{
        background-color: #333;
        content: '';
        height: 535px;
        width: 406px;
        position: absolute;
        top: 0;
        z-index: -10;
        border-radius: 80% 20% 82% 18% / 83% 18% 82% 17%;
    }
    .animation-from-top{
        animation: appear 2s forwards;
        margin-top: -100px;
        opacity: 0;
    }
    .animation-from-right{
        animation: appear 2s forwards;
        margin-left: 100px;
        opacity: 0;
    }
    .animation-appear{
        animation: appear 2s forwards;
        opacity: 0;
    }
    @keyframes appear {
        to{
            margin: 0;
            opacity: 1;
        }
    }

    @keyframes from-right {
        to{
            margin: 0;
            opacity: 1;
        }
    }
    @keyframes little-shake{
        0%{
            left: 4px;
            top: 2px;
        }
        50%{
            left: 2px;
            top: 4px;
        }
        75%{
            left: -4px;
            top: -2px;
        }
    }
}