@import url(../general.css);


@media screen and (min-width: 1200px) {
    .page-header{
        scroll-snap-align: start;
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        box-sizing: border-box;
        position: relative;
    }
    .header-text-container{ 
        width: 500px;
        height: 300px;
    }
    .header h1{
        font-size: 100px;
        font-family: Ephesis;
    }
    .header-img-container{
        position: relative;
        height: 530px;
        width: 400px;
    }

    .header img{
        position: absolute;
        height: 530px;
        width: 400px;
        border-radius: 80% 20% 82% 18% / 83% 18% 82% 17%;  
    }
    .header-img-filter{
        height: 530px;
        width: 400px;
        position: absolute;
        top: 0;
        z-index: -10;
    }
    .header-img-filter::after{
        background-color: #333;
        content: '';
        height: 530px;
        width: 400px;
        position: absolute;
        top: 0;
        z-index: -10;
        border-radius: 80% 20% 82% 18% / 83% 18% 82% 17%;
    }
    .animation-from-top{
        animation: from-top 2s linear forwards;
        position: relative;
        opacity: 0;
    }
    .animation-from-right{
        animation: from-right 2s linear forwards;
        position: relative;
        opacity: 0;
    }
    @keyframes from-top {
        from{
            bottom: 100px;
        }
        to{
            bottom: 0;
            opacity: 1;
        }
    }
    @keyframes from-right {
        from{
            left: 100px;
        }
        to{
            left: 0;
            opacity: 1;
        }
    }
}
