@import url(../general.css);

/*requiere que cualquier campo abajo tenga una distancia de --header_px*/
@media screen and (min-width: 1200px) {
    /* main */
    #h1-custom{
        font-size: calc((50vw)/10);
    }
    #h2-custom{
        font-size: calc((50vw)/20);
    }
    .custom-main-card{
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - var(--header-px));

        box-sizing: border-box;
        margin: 0 100px 0 100px;
        border-radius: 7px;
    }
    .custom-main-left{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        padding: 10px;
    }
    .custom-main-right{
        width: 50vw;
    }
    .custom-main-right::spelling-error{
        text-decoration: underline wavy red;
    }
    img{
        max-height: 75vh;
        margin: auto;
    }

}

