@import url(../general.css);

@media screen and (min-width: 1200px) {
    .page-main{
        height: 100vh;
        scroll-snap-align: start;
        background-color: var(--main-color);
    }
    .main>h1{
        font-size: 100px;
        font-family: Ephesis;
    }
    .products-container{
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    .product-card{
        width: 250px;
    }
    .product-img-container{
        margin: auto;   
    }

    .product-text{
        text-align: justify;
    }




    .animation-from-top{
        animation: from-top 2s linear forwards;
        position: relative;
        opacity: 0;
    }
    .animation-from-right{
        animation: from-right 2s linear forwards;
        position: relative;
        opacity: 0;
    }
    @keyframes from-top {
        from{
            bottom: 100px;
        }
        to{
            bottom: 0;
            opacity: 1;
        }
    }
    @keyframes from-right {
        from{
            left: 100px;
        }
        to{
            left: 0;
            opacity: 1;
        }
    }
}