@import url(../general.css);

/*requiere que cualquier campo abajo tenga una distancia de --header_px*/
@media screen and (max-width:768px) {
    .main{
        height: 100vh;
        scroll-snap-align: start;
        background-color: var(--main-color);
    }
    .main h1{
        font-size: 100px;
        font-family: Ephesis;
        opacity: 0;
        animation: from-top 2s forwards;
    }
}

